@model HospBack.ViewModels.PatientVisitsPage

<h2>@Model.Patient.Surname &nbsp; @Model.Patient.Name</h2>

<a href="/visit/create?patientId=@Model.Patient.Id">Создать запись</a>

<br />
Активные записи
@foreach (var visit in Model.Visits.Where(x => x.Status == "created"))
{
    <br />
    <a href="/visit/edit/@visit.Id">@visit.VisitDate.ToString("dd/MM - HH:mm")</a>
}
<br />
Оконченные записи
@foreach (var visit in Model.Visits.Where(x => x.Status == "done"))
{
    <br />
    <a href="/visit/edit/@visit.Id">@visit.VisitDate.ToString("dd/MM - HH:mm")</a>
}
