@model IEnumerable<HospBack.DB.DoctorType>

<h2>Специальности</h2>

<form method="post" action="doctortypes/create">
    <input name="Type" placeholder="Название" required />
    <button type="submit">Создать</button>
</form>

@switch ((string)TempData["status"])
{
    case "ok":
        <p style="color:forestgreen">Специальность создана</p>
        break;
    case "exist":
        <p style="color:darkred">Специальность с таким названием уже существует</p>
        break;
    case "incorrect":
        <p style="color:darkred">Введенные данные некорректны</p>
        break;
    case "unknow":
        <p style="color:darkred">Произошла неизвестная ошибка</p>
        break;
}

@foreach (var type in Model)
{
    <hr />
    <a href="/admin/doctortypes/doctortype?id=@type.Id">
        <div>
            @type.Type
        </div>
    </a>
}
