<h2>Создание пациента:</h2>
<form method="post">
    <input name="Name" placeholder="Имя">
    <input name="Surname" placeholder="Фамилия">
    <input name="PhoneNumber" placeholder="Номер телефона">
    <button type="submit">Создать</button>
</form>